<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzj70WE5rZpuxcNJjWFIxcKbAOA0lPevPBqg&s">
    <title>LN</title>
</head>
<body>
    <header>
        <div class="head_logo">
            <div class="head_logo_img"><img src="../static/onion.png" width="250" height="250"></div>
            <div class="name_logo_head">Searh Onion</div>
        </div>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            <input type="text" class="search_onion" name="url" placeholder="Введите URL" required>
            <button type="submit">Поиск</button>
        </form>
    </main>
    <footer>
        <div class="container_footer">
            <p>Описание: Search Onion ищет скрытые сервисы в сети Tor.</p>
            <a class="link_hab" href="">Исходники</a>
        </div>
    </footer>
</body>
</html>